
#leftPane {
  position: relative;
  float:left;
  /* I don't like this, but width is 69% because border pushes rigt pane
   * below instead of to the side */
  width: 69%;
  height:100%;

  border-style: solid;
  border-width: 2px;
  border-color: red;

  /* If the child is larger than the parent, overflow scroll allows to view all
   * contents */
  overflow: scroll;
}


#cowCanvas {
  position: absolute;
  left:0;
  top:0;
  /*
  width:100%;
  height:100%;
  */
  /*
  width: 1920;
  height: 1080;
  */

  border-style: solid;
  border-width: 2px;
  border-color: black;


}

#mapCanvas {
  position: absolute;
  left:0;
  top:0;

  /*
  width:100%;
  height:100%;
  */
  /*
  width: 1920;
  height: 1080;
  */

  border-style: solid;
  border-width: 2px;
  border-color: black;


}



/*purple should not show, it's to highlight errors*/
#rightPane {
  background-color: purple;
  float:left;
  width: 30%;
}

#entityPane {
  height: 70%;
}

#controlPane {
  background-color: orange;
  height: 30%;
}
